<!DOCTYPE html>
<html lang="hu" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    layout:decorator="layout">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="icon" />

	<title>Cars Page</title>
	<script src="content-script.js"></script>
</head>

<body>
	<section layout:fragment="content">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="input-group" id="adv-search">
						<label class="autok-keresese-label">Autók keresése...</label>
						<div class="input-group-btn">
							<div class="btn-group" role="group">
								<div class="dropdown dropdown-lg">
									<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
										<span class="caret"></span>
									</button>
									<div class="dropdown-menu dropdown-menu-right" role="menu">
										<form class="form-horizontal" role="form" th:action="@{/carssearched}" method="POST">
											<div class="form-group">
												<label for="contain">Név</label>
												<input class="form-control" type="text" th:object="${car}" th:field="*{name}" required/>
											</div>
											<div class="form-group">
												<label>Ülések száma</label>
												<select class="form-control" th:object="${type}" th:field="*{seatNumber}">
													<option th:each="i : ${#numbers.sequence(2, 7)}" th:value="${i}" th:text="${i}">
													</option>
												</select>
											</div>
											<div class="form-group">
												<label for="contain">Gyártó</label>
												<input class="form-control" type="text" th:object="${category}" th:field="*{brand}" />
											</div>
											<button type="submit" class="btn btn-primary">
												<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
											</button>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<ul class="searched-cars-table">
			<li class="searched-cars" th:each="car : ${searchedCars}">
				<label class="label-sized2"> ID</label>
				<span th:text="${car.id}" class="span-sized">Első autó</span>
				<label class="label-sized2">| Név</label>
				<span th:text="${car.name}" class="span-sized">Első autó</span>
				<label class="label-sized2">| Bérleti díj</label>
				<span th:text="${car.rentalPrice}" class="span-sized">Első autó</span>
				<label class="label-sized2">| Ülések száma</label>
				<span th:text="${seatNumber}" class="span-sized">Első autó</span>
				<label class="label-sized2">| Gyártó</label>
				<span th:text="${brand}" class="span-sized">Első autó</span>
			</li>
		</ul>
	</section>
</body>

</html>