<!DOCTYPE html>
<html lang="hu" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    layout:decorator="layout">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" />

		<title>Home Page</title>
		<script src="content-script.js"></script>
	</head>

	<body>
		<section layout:fragment="content">
			<h1 class="news">Hírek</h1>
			<ul class="searched-item-table">
				<li th:each="article : ${news}" class="searched-item" id="news">
					<h2 th:text="${article.author}" class="news">Első autó</h2>
					<p th:text="${article.article}" class="news">Első autó</p>
				</li>
            </ul>
		</section>
	</body>

</html>