<!DOCTYPE html>
<html lang="hu" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" />
    <title>Index</title>
    <script src="common-script.js"></script>

    <link rel="stylesheet" href="../static/css/ownstyle.css" th:href="@{/css/ownstyle.css}" />
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" />
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script src="../js/bootstrap.min.js" th:href="@{/js/bootstrap.min.js}"></script>
</head>

<body>
    <header class="title">
        <h1>CarRental</h1>
    </header>
    <section layout:fragment="menu">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">CarRental</a>
                </div>

                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="li-menu">
                            <a href="/homepage" th:action="@{/homepage}">Kezdőlap</a>
                        </li>
                        <li class="li-menu">
                            <a href="/cars" th:action="@{/cars}">Autók</a>
                        </li>
                        <li class="li-menu">
                            <a href="/booking" th:action="@{/booking}">Foglalás</a>
                        </li>
                        <li class="li-menu">
                            <a href="/conditions" th:action="@{/conditions}">Feltételek</a>
                        </li>
                        <li class="li-menu">
                            <a href="/contacts" th:action="@{/contacts}">Elérhetőségek</a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="/admincar" th:action="@{/admincar}">Autó</a>
                                </li>
                                <li role="separator" class="divider"></li>
                                <li>
                                    <a href="/adminclient" th:action="@{/adminclient}">Kliens</a>
                                </li>
                                <li role="separator" class="divider"></li>
                                <li>
                                    <a href="/adminbooking" th:action="@{/adminbooking}">Foglalás</a>
                                </li>
                                <li>
                                    <a href="/adminpayment" th:action="@{/adminpayment}">Fizetés</a>
                                </li>
                                <li>
                                    <a href="/adminfeedback" th:action="@{/adminfeedback}">Visszajelzés</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </section>

    <section layout:fragment="content" class="content">
        <p></p>
    </section>

    <footer class="footer">
        <p layout:fragment="custom-footer">CarRentalWeb</p>
    </footer>
</body>

</html>