@import url('https://fonts.googleapis.com/css?family=Doppio+One');

.title{
    background-color: lightgray;
    padding: 10px;
    height: 80px;
    width: 100%;
}

.title h1{
    font-family: Doppio+One;
    color: black;
    font-size: 4em;
    font-style: bold;
    margin: 0px;
    padding: 0px;
    line-height: 100 px;
    text-align: center;
    vertical-align: middle;
}

.footer{
    background-color: lightgray;
    height: 30px;
    border-top: solid 2px black;
    width: 100%;
    position: fixed;
    z-index: 1;
    bottom:0;
    line-height: 30px;
    text-align: center;
    vertical-align: middle;
}

body::after{
    content: ' ';
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -99;
    opacity: 0.4;
    height: 100vh;
    width: 100%;
    background-image: url("backgroundpicture.jpg");
    background-size: cover;
}

.content{
    margin: 25px; 
    font-size: 1.25em;
    overflow: auto;
    height: calc(100vh - 212px);
}

li{
    margin-bottom: 5px;
}

form{
    margin-bottom: 15px;
}

.li-menu:hover{
    background-color: orange;
    font-style: bold;
}

.li-menu{
    margin: 0px;
    vertical-align: middle;
}

.dropdown:hover{
    background-color: orange;
    font-style: bold;
}

.dropdown{
    margin: 0px;
    vertical-align: middle;
}

.li-menu > .btn{
    height: 48px;
    margin-bottom: 2px;
    background-color: white;
    color: black;
    border: none;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    vertical-align: middle;
}

.li-menu > .btn:hover{
    background-color: orange;
    font-style: bold;
    color: black;
}

.modal-title {
    float: left;
}

.close{
    display: inline-block;
}

.dropdown.dropdown-lg .dropdown-menu {
    margin-top: -1px;
    padding: 6px 20px;
}
.input-group-btn .btn-group {
    display: flex !important;
}
.btn-group .btn {
    border-radius: 0;
    margin-left: -1px;
}
.btn-group .btn:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.btn-group .form-horizontal .btn[type="submit"] {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}
.form-group .form-control:last-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

@media screen and (min-width: 768px) {
    #adv-search {
        width: 500px;
        margin: 0 auto;
    }
    .dropdown.dropdown-lg {
        position: static !important;
    }
    .dropdown.dropdown-lg .dropdown-menu {
        min-width: 500px;
    }
}